.details {
  position: fixed;
  z-index: 1;
  background-color: $color-magenta-dark;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  overflow-y: auto;

  * {
    padding: 0 0.5rem;
  }

  .details-item {
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: $color-magenta;

    .details-item-value {
      width: auto;
      white-space: nowrap;
    }
  }

  .border {
    border: 1px $color-white solid;
  }

  .row {
    flex-direction: row;
  }
}
