.list {
  padding: 0.5rem;
  overflow-y: auto;
  flex-wrap: wrap;
  flex-direction: row;

  li {
    padding: 0.2rem 0.5rem;

    a {
      flex-direction: row;
      justify-content: space-between;

      p {
        width: auto;
        white-space: nowrap;
      }
    }
  }

  .main-list {
    width: 48vw;
    height: 48vw;
    justify-content: flex-end;
    align-items: flex-end;

    a {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      width: 100%;

      h3 {
        width: auto;
      }
    }
  }

  li:nth-child(even) {
    background-color: $color-magenta;
  }

  li:nth-child(odd) {
    background-color: $color-magenta-dark;
  }
}
