.list {
  padding: 0.5rem;
  overflow-y: auto;
  flex-wrap: wrap;
  flex-direction: row;

  .no-padding {
    padding: 0;
  }

  .main-picture {
    height: 48vw;
    background-image: url('../../assets/pictures/Tiamat.jpg');
    background-size: cover;
    position: relative;

    .pink-cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-magenta;
      opacity: 0.8;
      justify-content: flex-end;
      align-items: center;
    }
  }

  li {
    padding: 0.2rem 0.5rem;
    background-color: $color-magenta;

    a {
      flex-direction: row;
      justify-content: space-between;

      p {
        width: auto;
        white-space: nowrap;
      }
    }
  }

  .main-list {
    width: 50%;
    height: 48vw;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px $color-magenta-dark solid;

    a {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      white-space: nowrap;

      h4 {
        width: auto;
      }
    }
  }

  li:nth-child(even) {
    background-color: $color-magenta-dark;
  }

  .main-list:nth-child(n) {
    background-color: $color-magenta;
  }
}
