.filter {
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: center;

  input {
    color: $color-black;
    height: 1.5rem;
  }

  button {
    width: auto;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: $color-magenta;

    i {
      width: auto;
      padding: 0 0.2rem;
    }
  }
}
