@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

$p-font: 'Lato', sans-serif;
$h-font: 'Roboto', sans-serif;
$color-magenta: rgb(237, 84, 138);
$color-magenta-dark: rgb(209, 73, 121);
$color-black: black;
$color-white: white;

* {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: $p-font;
  color: $color-white;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
}

#root {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  background: url('./assets/pictures/bg.png');
  background-size: cover;

  * {
    display: flex;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }

  h1,
  h3 {
    font-family: $h-font;
    flex-direction: row;
  }

  i {
    width: auto;
    padding-right: 1rem;
  }
}

@import './components/Header/header.scss';
@import './components/Filter/filter.scss';
@import './components/List/list.scss';
@import './components/Details/details.scss';
